/* ナビゲーション */
header {
    background-color: bisque;
    padding: 1rem;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}
nav a:hover {
    text-decoration: underline;
}
nav a.active {
    font-weight: bold;
}

/* メインコンテンツ */
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}
footer {
    text-align: center;
    padding: 2rem;
    background-color: azure;
}